* {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial;
}
header {
    height: 14.5vh;
    width: 100%;
    background-image: url(puzzle.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0.25vh solid black;
    border-top: 0.25vh solid black;
}
.heading {
    display: flex;
    align-items: center;
    width: 100%;
    height: 7vh;
}
.heading h1 {
    text-align: center;
    width: 100%;
    color: white;
    text-shadow:
        -1.5px -1.5px #000,
		1.5px -1.5px #000,
		-1.5px 2px #000,
		1.5px 2px #000;
}
nav {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 100%;
}
.button {
    background-color: darkslategray;
    border-top: 0.25vh solid black;
    border-bottom: 0.25vh solid black;
    color: white;
    padding: 1vh 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 0px;
    cursor: pointer;
    width: 33.33%;
}
.button:hover {
    background-color: grey;
}
.content {
}
.content iframe {
    display: flex;
    bottom: 0;
    border: none;
    align-items:center;
    height: 85vh;
}
