/* ----------------------
CSS STYLING OF THE INDEX
------------------------*/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "lato", sans-serif;
}
header {
    height: 9.25vh;
    width: 100%;
    background-image: url(bg/banner.png);
    background-attachment: fixed;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom: 0.25vh solid black;
    border-top: 0.25vh solid black;
}
.heading {
    display: flex;
    align-items: center;
    width: 100%;
    height: 9.5vh;
}
.heading h1 {
    text-align: center;
    width: 100%;
    color: white;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: clip;
    text-shadow:
        -2px -2px rgba(0,0,100,0.7),
		2px -2px rgba(0,100,0,0.7),
		-2px 2px rgba(100,0,0,0.7),
		2px 2px rgba(0,0,0,0.4);
}
nav {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 100%;
    background-color: grey;
    border-bottom: 0.25vh solid black;
}
.button {
    color: white;
    padding: 1vh 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 0px 0px;
    cursor: pointer;
    width: 150px;
}
.button:hover {
    background-color: black;
}
.content {
}
.content iframe {
    display: flex;
    bottom: 0;
    border: none;
    align-items:center;
    height: 85vh;
    width: 100%;
}
/*
@media only screen and (max-width: 600px) {
  nav {
    background-color: lightblue;
  }
}
@media only screen and (max-height: 500px) {
    nav {
        background-color: lightblue;
        display: block;
    }
    header {
        float: left;
        width: 24.5vw;
        height: 100vh;
        border-bottom: none;
        border-top: none;
        border-right: 0.25vw solid black;
        border-left: 0.25vw solid black;
    }
    .content iframe{
        height: 100vh;
        width: 75vw;
    }
}
/*--------------------------------
CSS STYLING OF THE PARALLAX STUFF
--------------------------------*/

.parallax {
  height: 100%;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bg {
    position: relative;
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 80vh;
}

.top, .bottom {
    min-height: 100vh;
}

/* --------------------------------------
get a bg image for every different class*/

/* profile.html */

.profile {
    background-image: url(bg/profil.jpg);
}

/* travels.html */

.road {
    background-image: url("bg/road.jpg");
}
.ireland {
    background-image: url("bg/ireland.jpg");
}
.pub {
    background-image: url("bg/pub.jpg");
}
.duomo {
    background-image: url("bg/duomo.jpg");
}
.roma {
    background-image: url("bg/roma.jpg");
}
.marrakesh {
    background-image: url("bg/marrakesh.jpg");
}
.atlas {
    background-image: url("bg/atlas.jpg");
}
.valpo {
    background-image: url("bg/valpo.jpg");
}
.gaucho {
    background-image: url("bg/gaucho.jpg");
}
.wall {
    background-image: url("bg/berlin-wall.jpg");
}
.alex {
    background-image: url("bg/alex.jpg");
}

/* skills.html*/

.skill {
    background-image: url("bg/skill.jpg");
}
.maze {
    background-image: url("bg/maze.jpg");
}
.youdied {
    background-image: url("bg/youdied.jpg");
}
.school {
    background-image: url("bg/school.jpg");
}
.teacher {
    background-image: url("bg/teacher.jpg");
}
.watercolor {
    background-image: url("bg/watercolor.jpg");
}
.drawing {
    background-image: url("bg/drawing.jpg");
}
.alleycat {
    background-image: url("bg/alleycat.jpg");
}
.f42 {
    background-image: url("bg/f42.jpg");
}

/* interests.html */

.interest {
    background-image: url("bg/interest.jpg");
}
.book {
    background-image: url("bg/book.jpg");
}
.cinema {
    background-image: url("bg/cinema.jpg");
}
.sotc {
    background-image: url("bg/sotc.jpg");
}
.flashback {
    background-image: url("bg/flashback.jpg");
}
.bitd {
    background-image: url("bg/bitd.jpg");
}
.shadowrun {
    background-image: url("bg/shadowrun.png");
}
.bike {
    background-image: url("bg/bike.jpg");
}
.climb {
    background-image: url("bg/climb.jpg");
}

/* contact.html */

.phone {
    background-image: url(bg/phone.jpg);
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}
.intro {
    color: #777;
    background-color:white;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}
.intro h3 {
    text-align:center;
}
.textsep {
    position:relative;
}
.info {
    color:#000;
    background-color:#fff;
    text-align:center;
    padding:50px 80px;
    text-align: justify;
}
.sep {
    height: 10vh;
    background-color: white;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bg {
    background-attachment: scroll;
  }
}
::-webkit-scrollbar {
    width: 0px;
}

