* {
    margin: 0;
    padding: 0;
}
.spade {
    color: rgb(47, 56, 79);
}

.club {
    color: darkslategray;
}

.heart {
    color: rgb(224, 41, 111);
}

.diamond {
    color: red;
}
p{
    padding: 5px;
}
#name, #total{
    text-align: center;
    font-size: 1.2rem;
    font-family: sans-serif;
}
#myCard {
    font-size: 50vh;
}

#cardBack {
    font-size: 50vh;
}

button {
    margin: 0;
    padding: 0;
    color: black;
    border: 5px solid white;
    background-color:white;
}

button:hover {
    cursor: pointer;
}

#cards {
    display: flex;
    height: 70vh;
    width: 100vw;
    justify-content: space-around;
    
}